<form action="/result" method = "POST">
    <p>Text <input type = "text" name = "text" /></p>
    <p>Answer Selection <input type = "text" name = "answerSelection" value="default"/></p>
    <p>Question Generation <input type = "text" name = "questionGeneration" value="default"/></p>
    <p>Distractor Selection <input type = "text" name = "distractorSelection" value="default"/></p>
    <p>Max Number Questions <input type = "text" name = "maxNumberQuestions" value="default"/></p>
    <p><input type = "submit" value = "Submit" /></p>
</form>

<form action="/uploadfile" enctype="multipart/form-data" method="POST">
    <input name="file" type="file" multiple>
    <p>Answer Selection <input type = "text" name = "answerSelection" value="default"/></p>
    <p>Question Generation <input type = "text" name = "questionGeneration" value="default"/></p>
    <p>Distractor Selection <input type = "text" name = "distractorSelection" value="default"/></p>
    <p>Max Number Questions <input type = "text" name = "maxNumberQuestions" value="default"/></p>
    <p><input type = "submit" value = "Submit" /></p>
    </form>
</body>